In [4]:
import pandas as pd
import matplotlib as mp

data = pd.read_csv("data.csv")

In [108]:
data

,Age,Gender,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Workout_Type,Fat_Percentage,Water_Intake (liters),Workout_Frequency (days/week),Experience_Level,BMI
0,56,Male,88.3,1.71,180,157,60,1.69,1313.0,Yoga,12.6,3.5,4,3,30.20
1,46,Female,74.9,1.53,179,151,66,1.30,883.0,HIIT,33.9,2.1,4,2,32.00
2,32,Female,68.1,1.66,167,122,54,1.11,677.0,Cardio,33.4,2.3,4,2,24.71
3,25,Male,53.2,1.70,190,164,56,0.59,532.0,Strength,28.8,2.1,3,1,18.41
4,38,Male,46.1,1.79,188,158,68,0.64,556.0,Strength,29.2,2.8,3,1,14.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,24,Male,87.1,1.74,187,158,67,1.57,1364.0,Strength,10.0,3.5,4,3,28.77
969,25,Male,66.6,1.61,184,166,56,1.38,1260.0,Strength,25.0,3.0,2,1,25.69
970,59,Female,60.4,1.76,194,120,53,1.72,929.0,Cardio,18.8,2.7,5,3,19.50
971,32,Male,126.4,1.83,198,146,62,1.10,883.0,HIIT,28.2,2.1,3,2,37.74
972,46,Male,88.7,1.63,166,146,66,0.75,542.0,Strength,28.8,3.5,2,1,33.38

In [109]:
#data.head()
#data.head(2) toma desde el principio(rows)
#data.tail(2) toma desde el final(rows)
data.columns[2]

'Weight (kg)'

In [110]:
data["Weight (kg)"]
data["Height (m)"]

0      1.71
1      1.53
2      1.66
3      1.70
4      1.79
       ...
968    1.74
969    1.61
970    1.76
971    1.83
972    1.63
Name: Height (m), Length: 973, dtype: float64

<H4>BUSCA ROW ESPECIFICA</H4>

In [111]:
data.loc[5:10]

,Age,Gender,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Workout_Type,Fat_Percentage,Water_Intake (liters),Workout_Frequency (days/week),Experience_Level,BMI
5,56,Female,58.0,1.68,168,156,74,1.59,1116.0,HIIT,15.5,2.7,5,3,20.55
6,36,Male,70.3,1.72,174,169,73,1.49,1385.0,Cardio,21.3,2.3,3,2,23.76
7,40,Female,69.7,1.51,189,141,64,1.27,895.0,Cardio,30.6,1.9,3,2,30.57
8,28,Male,121.7,1.94,185,127,52,1.03,719.0,Strength,28.9,2.6,4,2,32.34
9,28,Male,101.8,1.84,169,136,64,1.08,808.0,Cardio,29.7,2.7,3,1,30.07
10,41,Male,120.8,1.67,188,146,54,0.82,593.0,HIIT,20.5,3.0,2,1,43.31

<h4>Usa label to loc</h4>

In [112]:
pesoyaltura=data.loc[:4,["Weight (kg)","Height (m)"]]
pesoyaltura

   Weight (kg)  Height (m)
0         88.3        1.71
1         74.9        1.53
2         68.1        1.66
3         53.2        1.70
4         46.1        1.79

<h4>Usa index to loc</h4>

In [ ]:
#genero = data.iloc[:10,1]
#peso = data.iloc[:10,2]
#altura = data.iloc[:10,3]
#data.iloc[:5,[1,2]]
data.iloc[:5,[0,1,2,3]]

   Age  Gender  Weight (kg)  Height (m)
0   56    Male         88.3        1.71
1   46  Female         74.9        1.53
2   32  Female         68.1        1.66
3   25    Male         53.2        1.70
4   38    Male         46.1        1.79

In [149]:
data.sort_values("Weight (kg)",ascending=False)

,Age,Gender,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Workout_Type,Fat_Percentage,Water_Intake (liters),Workout_Frequency (days/week),Experience_Level,BMI
593,55,Male,129.9,1.73,187,155,60,0.69,529.0,Yoga,21.7,3.1,3,1,43.40
122,56,Male,129.5,1.95,160,129,66,1.00,639.0,Strength,25.2,3.5,2,1,34.06
854,48,Male,129.2,1.61,193,167,62,1.06,876.0,Yoga,21.4,2.9,4,2,49.84
96,56,Male,129.0,1.78,194,126,64,1.29,805.0,Yoga,27.1,2.7,2,1,40.71
283,20,Male,128.4,1.92,167,145,57,0.63,502.0,Cardio,26.1,2.0,2,1,34.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,24,Female,40.4,1.64,168,168,55,0.99,832.0,HIIT,31.0,1.9,2,1,15.02
156,56,Female,40.4,1.80,196,165,72,1.23,913.0,Cardio,30.0,2.1,4,2,12.47
764,22,Female,40.3,1.56,192,121,57,1.45,877.0,HIIT,30.8,2.1,4,2,16.56
705,47,Female,40.0,1.76,173,132,63,0.80,475.0,Strength,26.7,2.2,3,1,12.91
194,49,Female,40.0,1.65,188,148,74,1.03,686.0,Yoga,34.3,2.5,3,2,14.69

In [ ]:
data.sort_values(["Age","Height (m)"],ascending=[0,1])#[0,1]-> [x,y] x=num order y=alpha order

,Age,Gender,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Workout_Type,Fat_Percentage,Water_Intake (liters),Workout_Frequency (days/week),Experience_Level,BMI
56,59,Female,65.5,1.52,161,162,61,1.40,1021.0,Yoga,31.2,2.1,3,2,28.35
95,59,Female,54.6,1.57,164,169,64,0.58,441.0,Cardio,29.2,2.3,3,1,22.15
344,59,Male,89.4,1.62,198,125,59,1.43,885.0,Strength,23.5,3.6,3,2,34.06
385,59,Female,42.1,1.65,172,132,59,1.22,725.0,Strength,33.0,2.2,2,1,15.46
943,59,Male,85.5,1.67,190,144,71,1.99,1418.0,Cardio,15.0,3.5,5,3,30.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,18,Male,82.3,1.84,190,148,66,1.73,1408.0,HIIT,13.3,3.5,5,3,24.31
459,18,Male,62.0,1.85,161,121,53,0.88,586.0,Strength,23.7,3.0,3,1,18.12
113,18,Male,87.6,1.93,161,139,72,1.72,1315.0,HIIT,11.9,3.5,4,3,23.52
587,18,Male,83.2,1.96,183,150,67,1.83,1510.0,HIIT,13.6,3.5,4,3,21.66
884,18,Male,114.5,1.97,192,128,60,1.03,725.0,Cardio,24.1,2.6,3,1,29.50

# Filtrar data

In [5]:
#podemos buscar con loc una columna en particular con un filtro 
#base[base[row especifica]filtro][[base acotada]]
data[data["Weight (kg)"] > 60.4][["Gender","Weight (kg)"]][:4]

   Gender  Weight (kg)
0    Male         88.3
1  Female         74.9
2  Female         68.1
6    Male         70.3

In [ ]:
data[(data["Weight (kg)"]<50)&(data["Height (m)"]>1.4)][["Gender","Weight (kg)","Height (m)",""]]

     Gender  Weight (kg)  Height (m)
4      Male         46.1        1.79
15   Female         42.5        1.75
17   Female         43.8        1.77
39     Male         45.5        1.60
40   Female         48.8        1.51
..      ...          ...         ...
883  Female         49.0        1.57
935  Female         45.2        1.68
940    Male         46.2        1.63
963  Female         43.8        1.75
965  Female         44.1        1.62

[101 rows x 3 columns]

In [179]:
data[(data["Workout_Type"].str.contains("yoga",case=False))][["Workout_Type","Gender","Weight (kg)","Height (m)"]]

    Workout_Type  Gender  Weight (kg)  Height (m)
0           Yoga    Male         88.3        1.71
14          Yoga    Male        117.7        1.81
22          Yoga  Female         71.0        1.68
23          Yoga    Male        120.9        1.78
25          Yoga  Female         63.7        1.71
..           ...     ...          ...         ...
950         Yoga  Female         76.7        1.62
953         Yoga  Female         67.9        1.77
961         Yoga  Female         66.6        1.67
965         Yoga  Female         44.1        1.62
967         Yoga    Male         55.0        1.60

[239 rows x 4 columns]

In [6]:
data.query('Workout_Type == "Yoga" and Max_BPM')[["Age","Gender","Max_BPM"]]

     Age  Gender  Max_BPM
22    50  Female      187
23    29    Male      197
25    42  Female      173
31    20  Female      185
42    43    Male      161
..   ...     ...      ...
905   54    Male      195
921   29  Female      175
932   31    Male      185
941   21    Male      161
953   50  Female      171

[129 rows x 3 columns]

# Agregar y Quitar datos

In [ ]:
import numpy as np
data["Peso"] = np.where(data["Weight (kg)"]==80)

data

,Age,Gender,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Workout_Type,Fat_Percentage,Water_Intake (liters),Workout_Frequency (days/week),Experience_Level,BMI,Peso
0,56,Male,0,1.71,180,157,60,1.69,1313.0,Yoga,12.6,3.5,4,3,30.20,20
1,46,Female,0,1.53,179,151,66,1.30,883.0,HIIT,33.9,2.1,4,2,32.00,20
2,32,Female,0,1.66,167,122,54,1.11,677.0,Cardio,33.4,2.3,4,2,24.71,20
3,25,Male,0,1.70,190,164,56,0.59,532.0,Strength,28.8,2.1,3,1,18.41,20
4,0,0,0,0.00,0,0,0,0.00,0.0,0,0.0,0.0,0,0,0.00,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,24,Male,0,1.74,187,158,67,1.57,1364.0,Strength,10.0,3.5,4,3,28.77,20
969,25,Male,0,1.61,184,166,56,1.38,1260.0,Strength,25.0,3.0,2,1,25.69,20
970,59,Female,0,1.76,194,120,53,1.72,929.0,Cardio,18.8,2.7,5,3,19.50,20
971,32,Male,0,1.83,198,146,62,1.10,883.0,HIIT,28.2,2.1,3,2,37.74,20
972,46,Male,0,1.63,166,146,66,0.75,542.0,Strength,28.8,3.5,2,1,33.38,20

In [4]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

data = pd.read_excel("GYM.xls")
#base[base[row especifica]filtro][[base acotada]]

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 2.0.1 for xls Excel support Use pip or conda to install xlrd.